# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

jeter*
*~
countalign
*.bam
*.aux
*.log
*.log
*.pdf
*.amb
*.ann
*.bwt
*.pac
*.sa 
src/htslib-1.2.1
src/samtools-1.2

